{% load compress static wagtailuserbar %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% compress css %}
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">
    {% endcompress %}
    {% block extra_css %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/vendor.min.js' %}"></script>

    <link rel="shortcut icon" href="/static/img/favicon.png" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% get_site_root as site_root %}
<body class="{% block body_class %}{% endblock %}">
    <div class="wrap">
        <section id="mainNavbar">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-5 col-md-offset-4">
                        <ul class="nav nav-pills">              
                         {% top_menu parent=site_root calling_page=self %}
                         </ul>
                    </div>
                    <div class="col-md-3 text-right">
                        <span class="mainNavbar__registration">
                            <a href="{% url 'auth_login'%}"> Вход </a>

                            /
                            <a href="{% url 'registration_register' %}"> Регистрация </a>
                        </span>
                    </div>
                  </div>
                    
                </div>
            </div>
            
        </section>
        <section id="mainHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 text-center mainHeader__logo">
                <img src="/static/img/logo_header.png">
              </div>
              <div class="col-sm-9 text-right">
                <p class="mainHeader__phone">
                  {{ telephon.number }} 
                </p>
                <p class="mainHeader__text">
                  {{ telephon.body }} 
                </p>
              </div>
            </div>
          </div>
        </section>


    {#    {% wagtailuserbar %} #}
    {% block content %}{% endblock %}

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    Реабилитационный центр 
&#169 {% now "Y" %} Массаж
                </div>
                <div class="col-sm-7 aboutList">
                  <ul class="list-unstyled">
                    О нас
                    {% for item in footer_items %}
                        <li><a href="{% pageurl item %}">{{ item.title }}</a> </li>
                    {% endfor %}
                  </ul>    
                </div>
                <div class="col-sm-2">
                    <a href="http://www.pd-s.ru" onclick="return !window.open(this.href)">Создание сайта под ключ</a>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% endcompress %}
    {% block extra_js %}

    {% endblock %}
</body>
</html>
