{% extends "base.html" %}
{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% load humanize %}
{% block content %}

{% load i18n %}
{% load bootstrap3 %}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                <section id="breadcrumbs">
                    {{ self.ancestors }}
                    {% breadcrumbs %}
                </section>
            </div>
                    <div class="col-sm-2">
                        <div class="service__navs">
                            <p>О нас</p>
                            {% for item in footer_items %}
                            <p><a href="{% pageurl item %}">{{ item.title }}</a> </p>
                            {% endfor %}
                        </div>



                        <div class="services__links">
                            {% for item in services %}
                                {% if item.id == self.id %}
                                    <h1> {{ item.title }} </h1>   
                                {% else %}
                                    <p><a href="{% pageurl item %}">{{ item.title }}</a> </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-10 ">

{% bootstrap_messages %}
                        <div class="services__content">

                            <div class="row services__content-text">
                                <div class="col-sm-12">
                                    {% include "core/includes/streamfield.html" with content=self.body %}
                               </div>
                            </div>
                            <div class="row">
                                {% for comm in comments %}
  <div class="col-sm-12 response__content">

            {% if pers.age < 18 %}
                <img src="/static/img/child.png" class="img-responsive">
            {% elif pers.male %}
                <img src="/static/img/men.png" class="img-responsive">
            {% else %}
                <img src="/static/img/women.png" class="img-responsive">
            {% endif %}

            <h4>{{ comm.user.first_name }} {{ comm.user.login }} <a href="#"></a></h4>

   
<p><span class="quotes">“</span>{{ comm.text }}<span class="quotes">”</span></p>

<p class="pull-right"> {{ comm.date | naturaltime }} </p>

</div>
{% empty %}
  <div class="col-sm-12 ">
Еще нет коментариев.
                                    
                        </div>
                                {% endfor %}

                        </div>
    <div class="row">
        <div class="col-md-6">


<form method="post" action="" id="form">
           {% csrf_token %}
           {# {{ form.as_p }} #}
           {% bootstrap_form form %}
           <button  class="btn btn-primary" type="submit">{% trans 'Submit' %} </button>
       </form>
                    </div>
                    </div>


                    </div>



        </div>
    </div>
</section>


{% endblock %}
