{% extends "base.html" %}
{% load static core_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
<section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2">
                        <section id="breadcrumbs">
                            {{ self.ancestors }}
 {% breadcrumbs %}
                         </section>
                    </div>
                <div class="col-sm-12 ">
                        <div class="services__content">
                            <div class="row services__content-text">
                                <div class="col-sm-12">

                        {% include "core/includes/streamfield.html" with content=self.body %}
                                </div>
                            </div>

                                                    </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
