{% extends "base.html" %}
{% load static core_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
<style>
a {
    color: #c7254e;
    text-decoration: underline;
}


body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}
.top_header{
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);

}

.top_header a {
    text-decoration: none;
    color: white;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.rigth {
    float: right;  
    width: 20%;
}
.center {
    margin: 0 auto;
}
</style>

<div class="top_header">
    <div class="container">
        <div class="center" style="float: left; width: 80%">
            <ul class="">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#about">Услуги</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="rigth">
            <ul class="">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#about">Услуги</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
	<div class="row-fluid">
        fluid
    </div>
</div>

<div class="hero-unit">
	<div class="container">
		<h1>Learn Geometry</h1>
		<p class="lead">Oat cake chocolate cake sugar plum sesame snaps. Bonbon danish oat cake chupa chups tart muffin tootsie roll sweet roll sweet roll.</p>
		<p><a href="#" class="btn btn-success btn-large">Get Started</a></p>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8">
		</div>
		<div class="span4">
		</div>
	</div>
</div>

<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
{% endblock %}
