{% extends "base.html" %}
{% load static core_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
auth_login
<div class="top_header">
    <div class="container">
        <ul class="">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#about">Услуги</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <ul class="nav nav">
            <li><a href=" {% url 'login' %} ">Вход</a></li>
            <li><a href=" {% url 'registration_register' %} ">Регистрация</a></li>
        </ul>
    </div>
</div>

<div class="container">
	<div class="row-fluid">
        fluid
    </div>
</div>

<div class="hero-unit">
	<div class="container">
		<h1>Learn Geometry</h1>
		<p class="lead">Oat cake chocolate cake sugar plum sesame snaps. Bonbon danish oat cake chupa chups tart muffin tootsie roll sweet roll sweet roll.</p>
		<p><a href="#" class="btn btn-success btn-large">Get Started</a></p>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8">
		</div>
		<div class="span4">
		</div>
	</div>
</div>

<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
{% endblock %}
