{% extends "base.html" %}
{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load embed_video_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
<section id="mainPromo">
    <div class="container mainPromo">
        <div class="row">
            <div class="col-sm-4">
                <div class="mainPromo__small">
                    {% if action_0 %}
                       {{ action_0.short_text|richtext }}
                       {% image action_0.image fill-300x200 as image %}

                       <img src="{{ image.url }}">
                    {% endif %}
                </div>
                <div class="mainPromo__small">
                    {% if action_1 %}
                       {{ action_1.short_text|richtext }}
                       {% image action_1.image fill-300x200 as image %}
                       <img src="{{ image.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="mainPromo__large">

                </div>
            </div>
        </div>
    </div>          
</section>
<section id="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="mainContent__review">
                    <span class="mainContent__review-inConer">Отзыв</span>
                    <div class="mainContent__review-content">
                        <h3>lorem</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, accusamus?</p>
                        <p class="text-center"><a href="#">Читать все отзывы</a> / <a href="#">Добавить отзыв</a></p>
                    </div>                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mainContent__video">
                    <div class="mainContent__video-video">
                        <div class="embed-responsive embed-responsive-4by3">
                            {% video self.video.url '560x315' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mainContent__about">
                    <div class="mainContent__about-content">

                        <h3>lorem</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, accusamus?Lorem ipsum dolor sit amet.</p>
                        <p class="text-center"><a href="#">Узнать больше</a></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mainContent__text">
                    <div class="mainContent__text-content">
                        {% include "core/includes/streamfield.html" with content=self.body %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
