* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;  
    min-height: 100%;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    /*font-family: 'Play', sans-serif; */
    font-size: 16px;
    min-width: 320px;
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrap {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
    -moz-box-flex: 1 0 auto;
    -webkit-flex:  1 0 auto;
    -ms-flex:  1 0 auto;
    flex:  1 0 auto;
    background-color: #f5f4ef;
}

#mainNavbar {
    height: 40px;
    background-color: #dedede;

}

.mainNavbar__item {
/*    background: url(/img/front_v02_02.png) no-repeat ;
    background-size: cover;*/
    
}

.mainNavbar__registration{
    display: block;
    padding-top: 10px;
}

#mainHeader {
    height: 100px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px; 
}

.mainHeader__logo{
    
}

.mainHeader__phone{
    padding-top: 10px;
}


.mainPromo {
    background-color: #fff;
    border: 1px solid #dadada;
}

.mainPromo__small{
    margin: 10px 0 10px 0;
    height: 150px;
    background-color: #b3c8c8;
}

.mainPromo__large {
    margin: 10px 0 10px 0;
    height: 310px;
    background-color: #b3c8c8;
}

#mainContent {
    margin-top: 25px;
    margin-bottom: 50px;
}

.mainContent__review {
    background-color: #fff;

}

.mainContent__review-content{
    padding: 10px;
}
.mainContent__review-inConer{
    display: block;
    position: relative;
    right: 0;
    top: 0;
    float: right;
    background-color: #c1c1c1;
    padding: 1px;
}

.mainContent__video{
    background-color: #fff;
    border: 1px solid #dadada;
    height: 270px;
}

.mainContent__video-video{
    padding: 10px;
}

.mainContent__about{
    background-color: #fff;
}

.mainContent__about-content{
    padding: 10px;
}

.mainContent__text{
    background-color: #fff;
    border: 1px solid #dadada;
    margin-top: 20px;
}

.mainContent__text-content{
    padding: 10px;
}

footer {
    background-color: #f5f4ef;
     
}

footer .aboutList li{
    padding-left: 10px;
}

.servicesContent__links, .servicesContent__content, .services__links, .services__content, 
.about__content, .service__navs, .response__content{
    background-color: #fff;
    padding: 10px;
}

.servicesContent__links{

}

.breadcrumb{
    background-color: transparent;
}

.servicesContent__content-text img {
    height: 200px !important;
    float: left;
    margin-right: 10px;
}
.servicesContent__content-text p,
.servicesContent__content-secondText p,
.services__content-text p,
.services__content-secondText p 
{
    text-align: justify;

}

.servicesContent__content-interesting img, .services__content-service img{
    height: 60px;
    width: 280px;
    margin: 0 auto;
}

.servicesContent__content-secondText{
    margin-top: 30px;
}

.services__content-service{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services__content-secondText{
    padding-bottom: 20px;
}

.about__content-service{
    margin-top: 30px;
    margin-bottom: 30px;
}

.service__navs{
    margin-bottom: 25px;
}

.about__content-service img{
    height: 135px;
    width: 100%;
}

.personal__content-service img{
    float: left;
    width: 100px;
    height: 150px;
    margin-right: 10px;

}

.personal__content-service{
    margin-bottom: 25px;
}

.personal__content-service p {
    text-align: justify;
}
.response__content img {
    float: left;
    width: 80px;
    height: 120px;
    margin-right: 10px;    
}